blockquote footer.citation {
    font-size: .5em;
}

 .reveal blockquote {
    font-style: inherit;
}

pre.smallerCode {
    font-size: .3em;
}

.left {
    left:-8.33%;
    text-align: left;
    float: left;
    width:50%;
    z-index:-10;
}
  
.right {
    left:31.25%;
    top: 75px;
    float: right;
    text-align: right;
    z-index:-10;
    width:50%;
}

.multiCol {
    display: table;
    table-layout: fixed; 
    width: 100%;
    text-align: left;
    
}

.col {
    display: table-cell;
    vertical-align: top;
    width: 50%;
    padding: 2% 0 2% 3%; 
}

.col:first-of-type {
    padding-left: 0;
}

.multiCol .col ul {
    font-size: 75%;
}

.right ul {
    font-size: .75em;
}